<!-- {% extends "boards/page_container.html" %} -->
{% load static %}
<!-- {% block content %} -->

<head>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const dialog = document.getElementById("score_dialog")
            const board_name = document.getElementById("board_name")
            console.log({board_name})


            board_name.addEventListener("click", () => {
                console.log("opening modal.")
                dialog.showModal()
            })
        })
    </script>
</head>
{% include "boards/board.html" with board=board %}
{% if user.is_authenticated %}<p>username:{{ user.get_username }}</p>{% endif %}
<dialog id="score_dialog">
    {% include "boards/score_form.html" %}
</dialog>
<!-- {% endblock %} -->
