<!-- {% extends "boards/page_container.html" %} -->
{% load static %}
<!-- {% block content %} -->

<head>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const dialog = document.getElementById("score_dialog")
            const board_name = document.getElementById("board_name")
            console.log({board_name})


            board_name.addEventListener("click", () => {
                console.log("opening modal.")
                dialog.showModal()
            })
        })
    </script>
</head>
<div id=leaderboard_{{ board.id }}>
    <h2 id="board_name">{{ board.name }}</h2>
    <span style="display: none;">{{ board.id }}</span>
    <div id=scores_{{ board.id }}>
        {% for score in board.scores %}
        <div>
            <span>{{ score.value }}</span>
            <span>{{ score.username }}</span>
        </div>
        {% endfor %}
    </div>
    <dialog id="score_dialog">
        {% include "boards/score_form.html" %}
    </dialog>
</div>
<!-- {% endblock %} -->
