{% extends "boards/base.html" %}
{% load static %}
{% block content %}
<script type="module">
    import {WebsocketManager} from "{% static 'boards/websocket.js' %}"
    const boards = {{boards| safe}}
    console.log({boards})
    const board_ids = boards.map((board) => board.id)

    const wsInstance = new WebsocketManager(board_ids.toString())
</script>
<div>
    <h1>Leaderboard</h1>
    {% for board in boards %}
    {% include "boards/board.html" with board=board %}
    {% endfor %}
</div>
{% endblock %}
